// Definition

$mq-breakpoints: ("xs": 320px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px);

@mixin mq($breakpoint: medium) {
  @media screen and (min-width: #{map-get($mq-breakpoints, $breakpoint)}) {
    @content;
  }
}

@mixin bg-gradient($angle: 180deg,
  $color: rgba(217, 229, 214, 0.8),
  $amount: 20%) {
  background: linear-gradient($angle, $color, adjust-hue($color, $amount)) fixed;
}

// navbar --header.php

.p-navbarContent {
  width: 100%;

  @include mq(md) {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 1rem 0;
  }

  @include mq(lg) {
    max-width: 992px;
    margin: 0 auto;
  }

  @include mq(xl) {
    max-width: 1140px;
    margin: 0 auto;
  }
}

//Global navigation

.p-globalNav {
  &__menu {
    width: 100%;

    @include mq(md) {
      width: 60%;
    }
  }

  &__list {
    width: 100%;
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq(md) {
      width: 33.333%;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: dashed 1px rgba(255, 255, 255, 0.6);

      &:last-child {
        border-right: dashed 1px rgba(255, 255, 255, 0.6);
      }

    }

  }
}



// Home --front-page

.p-cover,
.p-news {
  h2 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5;
    color: #555;
    padding-left: 20px;
    border-left: solid 4px #434A52;
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }

  h3 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.8;
    color: #555;
  }

  &__headline {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5;
    color: #555;
    padding-left: 20px;
    border-left: solid 4px #434A52;
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }

  &__recommend li {
    list-style-type: none;
  }

  &__list {
    border: solid 3px #434A52;
    border-radius: 4px;
    padding: 12px;
    width: 92%;
    margin: 0 auto;
  }

  &__image {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(md) {
      width: 32%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
    }

    @include mq(lg) {
      width: 32%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__letter {
    width: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
  }
}

.p-recommend {
  &__headline {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5;
    color: #555;
    padding-left: 20px;
    border-left: solid 4px #434A52;
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }

  &__content {
    background: #dedede;
    padding: 48px 24px;
  }

  &__inner {
    margin-bottom: 24px;
  }


  &__image {
    margin-bottom: 16px;
  }

  h3 {
    font-family: "Source Han Code JP";
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    color: #434A52;
  }

}


.p-sidebar {
  &__list {
    width: 100%;
    height: 90px;
    padding: 12px 8px 12px 40px;
    background: #fff;
    border: 2px solid #434A52;
    opacity: 0.85;
    position: relative;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &--text {
      width: 74%;
      display: flex;
      align-items: center;
    }

    &--image {
      width: 24%;
      display: flex;
      align-items: center;
    }

    &::before {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      content: url("http://herbcollage.work/cake/wp-content/uploads/2019/07/arrow-blue.png");
      width: 24px;
      height: 24px;
    }
  }

}

.p-video {
  margin-bottom: 10px;

  &__inner {
    width: 330px;
    height: 220px;
  }
}



.p-single__headline {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5;
  color: #555;
  padding-left: 20px;
  border-left: solid 4px #434A52;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.p-footer {
  background-color: #434A52;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  font-weight: lighter;
  color: white;

  @include mq(md) {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }

  @include mq(lg) {
    max-width: 992px;
    margin: 0 auto;
  }

  @include mq(xl) {
    max-width: 1140px;
    margin: 0 auto;
  }

  h3 {
    font-weight: lighter;
  }

  ul {
    padding-left: 5px;
    list-style: none;
  }

  p {
    text-align: justify;
    font-size: 12px;
  }

  iframe {
    width: 100%;
    position: relative;
    height: 170px;
  }
}

.sm {
  list-style: none;
  overflow: auto;
  display: flex;
}

.sm li {
  display: block;
  padding: 5px;
}

.sm li a img {
  width: 32px;
}
